@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    background: var(--11, #F8F8FB);
    font-family: "League Spartan", sans-serif;
}

/* Header Section */

header {
    background: #373B53;
    padding-right: 24px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 72px;
    height: 72px;
    background: #7c5dfa;
    border-radius: 0 20px 20px 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.icons-avatar {
    display: flex;
    align-items: center;
    gap: 24px;
}

#icon-sun {
    display: none;
}

#icon-moon {
    cursor: pointer;
}

.line {
    width: 1px;
    height: 72px;
    background-color: #494e6e;
}

.image-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

main {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 31px 24px 56px
}

/* Go Back Section */
.goBack {
    gap: 24px;
    margin-top: 33px;
    margin-left: 24px;

    display: flex;
    align-items: center;
}

#arrow-left {
    cursor: pointer;
}

.goBack p {
    color: var(--08, #0C0E16);
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: -0.25px;
}

.viewInvoice {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* Status Content */
.statusContent {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.10);
    padding: 24px 24px 27px 24px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.statusContent p {
    color: #858BB2;
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: -0.1px;
}

#statusInfo {
    gap: 8px;
    padding: 14px 19px 11px 18px;

    display: flex;
    align-items: center;
}

.circle {
    width: 8px;
    height: 8px;
    background-color: #ff8f00;
    border-radius: 50%;
}

#statusInfo p {
    color: #FF8F00;
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: -0.25px;
}

/* Main Section */
.mainSection {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.10);
    padding: 25px 24px 24px 24px;
}

/* Profession and Location Container */
.profession-location {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.symbol {
    color: var(--07, #7E88C3);
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: -0.25px;
}

.invoice-id {
    color: var(--08, #0C0E16);
    font-family: "League Spartan";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: -0.25px;
}

.description {
    color: var(--07, #7E88C3);
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: -0.1px;
}

.senderAddress {
    color: var(--07, #7E88C3);
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.1px;
}

/* Date Payment Bill */
.date-payment-bill {
    margin-top: 31px;
    display: flex;
}

/* Date and Payment */
.date-payment {
    display: flex;
    flex-direction: column;
    gap: 31px;
}

/* Date */
#invoiceDate {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

#invoiceDate span {
    color: var(--07, #7E88C3);
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: -0.1px;
}

.createdAt {
    color: var(--08, #0C0E16);
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.25px;
}

/* Payment */
#paymentDue {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

#paymentDue span {
    color: var(--07, #7E88C3);
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: -0.1px;
}

.paymentDue {
    color: var(--08, #0C0E16);
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.25px;
}

/* Bill */
#bill {
    margin-left: 61px;
}

#bill span {
    color: var(--07, #7E88C3);
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: -0.1px;
}

.clientName {
    color: var(--08, #0C0E16);
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.25px;
    padding-top: 13px;
}

.clientAdress {
    color: var(--07, #7E88C3);
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.1px;
    padding-top: 7px;
}

/* Send Mail */
#sendMail {
    margin-top: 32px;
    gap: 13px;
    display: flex;
    flex-direction: column;
}

#sendMail span {
    color: var(--07, #7E88C3);
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: -0.1px;
}

.clientEmail {
    color: var(--08, #0C0E16);
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.25px;
}

/* Design */
.itemNameTitles {
    display: none;
}

.Design {
    border-radius: 8px 8px 0px 0px;
    background: #F9FAFE;
    margin-top: 38px;
    padding: 25px 24px 23px 24px;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

/* Banner Design */
#bannerDesign {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#bannerDesign-amount {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.itemsName {
    color: var(--08, #0C0E16);
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: -0.25px;
}

.itemsQuantity {
    color: var(--07, #7E88C3);
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: -0.25px;
}

.itemsPrice {
    color: var(--08, #0C0E16);
    text-align: right;
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: -0.25px;
}

/* Email Design */
#emailDesign {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#emailDesign-amount {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* Total Container */
#totalContainer {
    border-radius: 0px 0px 8px 8px;
    background: #373B53;
    padding: 26px 24px 22px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.grandTotal {
    color: #FFF;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.1px;
}

.total {
    color: #FFF;
    text-align: right;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.5px;
}

#totalContainer span {
    color: #FFF;
    text-align: right;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.5px;
}

/* Footer */
footer {
    background: #FFF;
    box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.10);
    padding: 21px 24px 22px;
    gap: 8px;

    display: flex;
    align-items: center;
}

/* Edit Button */
#editBtn {
    width: 73px;
    height: 48px;
    border-radius: 24px;
    background: #F9FAFE;
    border: none;

    color: var(--07, #7E88C3);
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: -0.25px;
}

#editBtn:hover {
    cursor: pointer;
    background: var(--05, #DFE3FA);
}

/* Delete Button */
#deleteBtn {
    background-color: #ec5757;
    width: 89px;
    height: 48px;
    border: none;
    border-radius: 24px;

    color: #fff;
    font-size: 15px;
    line-height: 1;
    letter-spacing: -0.25px;
}

#deleteBtn:hover {
    cursor: pointer;
    background: var(--10, #FF9797);
}

/* Mark As Paid Button */
#MarkAsPaidBtn {
    width: 149px;
    height: 48px;
    border-radius: 24px;
    background-color: #7c5dfa;
    border: none;

    box-shadow: 0 10px 10px -10px rgba(72, 84, 159, 0.1);
    color: #fff;
}

#MarkAsPaidBtn:hover {
    background: var(--02, #9277FF);
    cursor: pointer;
}